version: "3.7"
services:
  master:
    image: raphael/spark
    container_name: master
    hostname: master
    tty: true
    volumes:
      - ./user:/user
    ports:
      - "8088:8088/tcp"
      - "9870:9870/tcp"
      - "4040:4040/tcp"    
      - "18080:18080/tcp"
    networks: 
      hadoop-network:
        ipv4_address: 10.5.0.2

  slave0:
    image: raphael/spark
    container_name: slave0
    hostname: slave0
    tty: true
    depends_on:
      - master
    ports:
      - "6042:8042"
    networks: 
      hadoop-network:
        ipv4_address: 10.5.0.3

  slave1:
    image: raphael/spark
    container_name: slave1
    hostname: slave1
    tty: true
    depends_on:
      - master
    ports:
      - "7042:8042"
    networks: 
      hadoop-network:
        ipv4_address: 10.5.0.4

networks:
  hadoop-network:
    driver: bridge
    ipam:
     driver: default
     config:
       - subnet: 10.5.0.0/16