version: "3.7"
services:
  master:
    image: raphael/cluster
    build:
      dockerfile: Dockerfile
      context: .
    container_name: master
    hostname: master
    tty: true
    volumes:
      - ./user:/user
    ports:
      - "8088:8088/tcp"
      - "9870:9870/tcp"
      - "4040:4040/tcp"    
      - "18080:18080/tcp"
    networks: 
      cluster-network:

  slave0:
    image: raphael/cluster
    container_name: slave0
    hostname: slave0
    tty: true
    depends_on:
      - master
    ports:
      - "6042:8042"
    networks: 
      cluster-network:

  slave1:
    image: raphael/cluster
    container_name: slave1
    hostname: slave1
    tty: true
    depends_on:
      - master
    ports:
      - "7042:8042"
    networks: 
      cluster-network:

  pgdb:
    container_name: pgdb
    image: postgres:15
    restart: no
    environment:
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata-cluster:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      cluster-network:

  mongodb:
    container_name: mongodb
    image: mongo
    restart: always
    command: ["bash", "-c", "chown mongodb:mongodb /data/keyfile && chmod 400 /data/keyfile && mongod --replSet rs0 --bind_ip_all --auth --keyFile /data/keyfile"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./config/mongodb/keyfile:/data/keyfile
    ports:
      - "27017:27017"
    networks:
      cluster-network:

networks:
  cluster-network:
    driver: bridge
    ipam:
     driver: default
     config:
       - subnet: 10.5.0.0/16

volumes:
  pgdata-cluster: